{%- macro render(val) %}
{%-   if val in [true, false] %}{{ "on" if val else "off" }}
{%-   else %}{{ val }}
{%-   endif %}
{%- endmacro %}

{%- for conf, val in libreddit.config | dictsort %}
{#- Some environment variables should not be prefixed. -#}
{%-   if conf not in ["port"] %}
LIBREDDIT_DEFAULT_{{ conf | upper }}={{ render(val) }}
{%-   endif %}
{%- endfor %}
